section.log-in-out{
    margin-bottom: 100px;
    .login{
        width: 100%;
        max-width: 440px;
        margin:  0 auto;
        > div{
            margin-bottom: 30px;
        }
        h3{
            font-weight: 600;
            font-size: 1.7em;
            text-align: center;
            margin-bottom: 30px;
        }
        label{
            color: #444;
            font-size: .9em;
            margin-left: 10px;
            margin: 0 0 10px 10px;
        }
        input{
            padding: 15px 0 15px 20px;
            border: 1px solid #999;
            border-radius: 50px;
        }
        p{
            font-size: .8em;
            cursor: pointer;
            text-decoration: underline;
        }
        .error{
            font-size: .8em;
            text-align: center;
            background-color: #fc8080;
            padding: 7px 0;
            color: #fff;

            &.hide{
                display: none;
            }
        }
        .btn{
            background-color: $helperColor;
            padding: 10px 0;
            color: $white;
            border-radius: 15px;
            width: 40%;
            margin:  0 auto;
            margin-left: 35%;
            cursor: pointer;
            &:hover{
                background-color: #e42929;
            }
        }
        &.hide{
            display: none;
        }
    }
}


//success
section.success{
    margin-bottom: 100px;
    .container{
        > div{
            border: 1px solid #999;
            max-width: 500px;
            text-align: center;
            padding: 20px;
            border-radius: 20px;
            background-color: rgba(228, 41, 41, .1);
            img{
                width: 100px;
                border-radius: 50px;
                margin-bottom: 30px;
            }

            > div{
                span{
                    color: $helperColor;
                }
            }
        }
    }

    &.hide{
        display: none;
    }
}