// section icons
section.section-icons{ 
    padding: 50px;
    border-bottom: 1px solid $black;
    > div {
        > div{
            i{
                color: $white;
                padding: 1.2em 1.27em;
                border-radius: 50%;
                background-color: $helperColor;
                margin-right: 30px;
            }
            > div {
                h5 {
                    font-weight: 600;
                }
                p{
                    margin-top: 5px;
                    font-size: .8em;
                    color: #ccc;
                }
            }
        }
    }
}

// section deals 
section.section-deals{
    margin-top: 70px;
    .left-side {
        max-width: 1010px;

        .flex {
            h2{
                font-weight: 600;
                font-size: 2em;
            }
            .coundown-timer {
                background-color: #fccc4d;
                padding: 7px 27px;
                font-weight: 600;
                font-size: 1.2em;
                border-radius: 20px;
            }
        }
    }
    .right-side{
        max-width: 395px;
    }

    .content {
        max-width: 995px;
        max-width: 930px;
        border: 2px solid $helperColor;
        border-radius: 15px;
        padding: 40px;
        
        > div{
            max-width: 425px;        
        }
        img{
            border-radius: 15px;
            object-fit: cover;
            max-width: 190px;
        }

        .content-info {
            h4{
                font-weight: 500;
            }
            .stars {
                i{
                    color: #fa8c17;
                    font-size: .6em;
                }
                span{
                    font-weight: 500;
                    font-size: .7em;
                }
            }
            p{
                color: #999;
                font-size: .7em;
            }

            .price{
                color: $helperColor;
                font-weight: 600;

                span{
                    font-size: .8em;
                    color: #999;
                    margin-left: 5px;
                }
            }

            .sold {
                margin-top: 35px;
                font-size: .7em;
                color: #999;
                span{
                    color: $black;
                }
            }


            .progress-bar {
                width: 100%;
                background-color: #999;
                border-radius: 25px;
                position: relative;
                height: 7px;
                .progress-value {
                    position: absolute;
                    background-color: $helperColor;
                    border-radius: inherit;
                    height: inherit;
                    width: 25%;
                }
            }

        }
    }

    .right-side {
        margin-top: 20px;
        h2{
            margin-bottom: 20px;
            font-size: 1.6em;
            font-weight: 600;
        }

        > div{
            
            img{
                border-radius: 10px;
            }
            .info{
                p{
                    font-weight: 600;
                }
            }
            .stars{
                i{
                    font-size: .7em;
                    color: #fa8c17;
                }
            }

            &:not(:last-child){
                margin-bottom: 30px;
                padding-bottom: 13px;
                border-bottom: 1px solid #ccc;
            }
        }
    }
}

//section categories
section.section-categories{
    .categories{

        .flex{
            > div{
                border-radius: 15px;
                height: 300px;
                font-weight: 500;
                font-size: 1.2em;
                display: flex;
                align-items: end;
                padding: 0 0 30px 30px;
                overflow: hidden;
                cursor: pointer;

                &:hover{
                    transform: scale(0.9);
                }
            }


        }
        .flex:first-child{
            
            > div:first-child{
                width: 100%;
                max-width: 555px;
                background: url('../../img/homeCategories/6.jpeg');
            }

            >div:nth-child(2){
                width: 100%;
                max-width: 355px;
                background: url('../../img/homeCategories/5.jpeg');
            }
            
            >div:last-child{
                width: 100%;
                max-width: 435px;
                background-color: blue;
                background: url('../../img/homeCategories/4.jpeg');
            }
        }

        .flex:last-child{
            
            > div:first-child{
                width: 100%;
                max-width: 355px;
                background: url('../../img/homeCategories/3.jpeg');
            }

            >div:nth-child(2){
                width: 100%;
                max-width: 435px;
                background-color: green;
                background: url('../../img/homeCategories/2.jpeg');
            }
            
            >div:last-child{
                width: 100%;
                max-width: 555px;
                background: url('../../img/homeCategories/1.jpeg');
            }
        }
    }
}

// section popular books
section.section-popular-books{

    // left side 
    .left-side{
        width: 100%;
        max-width: 380px;

        h1{
            font-size: 1.6em;
            font-weight: 600;
            margin-bottom: 30px;
        }

        .content{
            background-color: #f6f4ff;
            border-radius: 15px;
            padding: 25px;
            img{
                width: 80px;
                border-radius: 10px;
            }

            > div{
                padding: 20px 0;
                &:not(:last-child){
                    border-bottom: 1px solid #ccc;
                }

                &:last-child{
                    padding-bottom: 0;
                }

                &:first-child{
                    padding-top: 0;
                }
            }

            .content-info{
                @include contenInfo();
            }

        }
    }

    // right side 
    .right-side{
        width: 100%;
        max-width: 900px;
        h1{
            font-size: 2em;
            font-weight: 600;
            margin-bottom: 30px;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                width: 60%;
                height: 2px;
                background-color: #ccc;
                left: 30%;
                bottom: 50%;
            }

        }
        .content{
            img{
                max-width: 200px;
                border-radius: 15px;
            }
            @include contenInfo();

            > div{
                padding: 0 8px;
                padding-bottom: 30px;
            }
        }
    }
}

// section holiday gifts 
section.section-holiday-gift{
     background: url('../../img/holidayGift.jpeg') no-repeat;
     background-position: center center;
     background-size: cover;
     min-height: 600px;
     .info{
        padding-top: 200px;
        p{
            letter-spacing: 1px;
            font-size: .8em;
            &:first-child{
                font-size: .8em;
                font-weight: 700;
                color: $helperColor;
            }
        }
        h1{
            font-weight: 600;
            font-size: 3em;
        }

        a{
            @include createButton();
        }
    }

}

// section all categories 
section.section-all-categories {
    h1{
        font-size: 2em;
        font-weight: 600;
        margin-bottom: 50px;
        position: relative;
        &::after{
            @include createLine(50%);
            left: 35%;
        }

        &:not(:first-child){
            margin-top: 70px;
        }
    }



    .row {
        min-height: 400px;
        .left-side {
            width: 100%;
            max-width: 420px;
            border-radius: 15px;
            background: url('../../img/Biographies.jpeg') no-repeat;
            background-size: cover;
            border-radius: 25px;
            padding: 50px;
            ul {
                li {
                    font-size: .8em;
                    line-height: 2.5;
                }
            }
        }

        .right-side {
            width: 100%;
            max-width: 820px;
            .content{
                img{
                    width: 190px;
                    height: 275px;
                    border-radius: 10px;
                }
                .content-info{
                    @include contenInfo();
                }
            }
        }


    }
    
    .row:nth-child(2){
        .left-side{
            $url : '../../img/Children.jpeg';
            @include backgroundCategories($url);
        }
    }
    .row:last-child{
        .left-side{           
            $url : '../../img/Fiction.jpeg';
            @include backgroundCategories($url);
        }
    }
    
}

// section meetup 
section.section-meetup{
    min-height: 620px;
    background: url('../../img/meetup.jpeg') no-repeat;
    background-position: center center;
    background-size: cover;
    .left-side{
        padding-top: 90px;
        max-width: 415px;

        h1{
            font-size: 3em;
            font-weight: 500;
        }
        p{
            font-size: .9em;
            color: #444444;
        }
        > .flex{
            gap: 50px;
            div {
                width: 80px;
                display: flex;
                align-items: center;   
                justify-content: center;             
                color: $white;
                height: 80px;
                font-weight: 600;
                border-radius: 50%;
                background-color: $helperColor;
                position: relative;

                &::after{
                    content: 'Books Collections';
                    position: absolute;
                    text-align: center;
                    color: $black;
                    width: 100%;
                    height: 100%;
                    bottom: -90px;
                    font-size: .8em;
                }

            }
        }
        a{
            @include createButton();
            width: 46%;
            margin-top: 70px;
        }
    }
}

section.section-order{
    .container{
        background: url('../../img/youOrder.jpeg');
        background-size: cover;
        padding: 80px 0;
        border-radius: 20px;
        color: $white;

        h1{
            font-size: 2em;
            font-weight: 600;
            span{
                color: $helperColor;
            }
        }
        p{
            font-size: .9em;
        }
        > div{
            position: relative;

            input{
                background-color: $white;
                width: 480px;
                padding: .9em 1.2em;
                border-radius: 20px;
                color: $black;
            }
            a{
                color: $white;
            }
            button{
                position: absolute;
                background-color: $helperColor;
                padding: .9em 1.2em;
                border-radius: 20px;
                right: 30.5%;

                &:hover{
                    background-color: #ff0000;
                }
            }
        }
    }
}

::placeholder{
    font-size: .7em;
}


// tablet 
@media screen and (max-width: 1024px){
    // header 
    header{
        .input{
            display: none;
        }
        .header-right{
            display: none;
        }
        section.navbars{
            display: none;
        }
        .header-logo{
            display: flex;
            margin: 0 auto;
        }
        .burger-menu{
            display: flex !important; 
            i{
                font-size: 1.7em;
                color: $white;
            }
        }
        .header{
            .nav-list{
                display: flex !important;
                .nav{
                    position: absolute;
                    flex-direction: column;
                    background-color: $helperColor;
                    z-index: 99;
                    width: 70%;
                    color: #000;
                    left: -70%;
                    text-align: center;
                    transition: all 1s ease;
                    top: 7.4%;
                    padding: 1em 0;
                    border-radius: 0 0px 20px 0;
                    border-bottom: 2px solid #000;
                    border-right: 2px solid #000;
                    li{
                        a{
                            font-size: 1.7em;
                            color: $white;
                        }
                        &:not(:last-child){
                            margin-bottom: 32px;
                        }
                    }
    
                    &.active{
                        left: 0;
                    }
                }
            }
        }   


        .burger-menu {
            display: block;
        }

        .burger-menu.active .nav-list{
            background-color: red;
        }
    }

    // slider 
    section.slider{
        // background-position: ce;
        > div{
            margin: 0;
            // padding: 0;
            margin-left: 100px;
        }

        .container {
            .dots{
                .dot{
                    left: 45%;

                    &:last-child{
                        left: 51%;
                    }
                }
            }
        }
    }
    section.section-icons{
        .container{
            .flex.align-center{
                &:last-child{
                    display: none;
                }
            }
        }
    }
    section.section-deals{
        .container{
            align-items: center;
            justify-content:start;
            gap: 75px;
        }
        .left-side{
            max-width: 492px;
            .content{
                >div{
                    &:nth-child(3), &:nth-child(4){
                        display: none;
                    }
                }  
            }
        }
        .right-side{
            max-width: 102px;
        }
        .content{
            max-width: 492px;
        }
    }
    section.section-popular-books{
        .left-side{
            width: auto;
        }
    }
    section.section-all-categories{
        .row{
            justify-content: center;
        }
        .right-side{
            .content{
                justify-content: center;
                >div{
                    &:last-child{
                        display: none;
                    }
                }
            }
        }
    }

    section.section-order .container > div button {
        right: 18.5%;
    }
        
}

//mobile
@media screen and (max-width: 767px){

    // header 
    header{
            .input{
                display: none;
            }
            .header-right{
                display: none;
            }
            section.navbars{
                display: none;
            }
            .header-logo{
                display: flex;
                margin: 0 auto;
            }
            .burger-menu{
                display: flex !important; 
                i{
                    font-size: 1.7em;
                    color: $white;
                }
            }
            .header{
                .nav-list{
                    display: flex !important;
                    .nav{
                        position: absolute;
                        flex-direction: column;
                        background-color: $helperColor;
                        z-index: 99;
                        width: 70%;
                        color: #000;
                        left: -70%;
                        text-align: center;
                        transition: all 1s ease;
                        top: 8.3%;
                        padding: 2em 0;
                        border-radius: 0 0px 20px 0;
                        border-bottom: 2px solid #000;
                        border-right: 2px solid #000;
                        border-top: 2px solid #000;
                        li{
                            a{
                                font-size: 1.7em;
                                color: $white;
                            }
                            &:not(:last-child){
                                margin-bottom: 36px;
                            }
                        }
        
                        &.active{
                            left: 0;
                        }
                    }
                }
            }   


            .burger-menu {
                display: block;
            }

            .burger-menu.active .nav-list{
                background-color: red;
            }

    }


    // slider 
    section.slider{
        > div{
            margin: 0;
        }
        .container {
            .dots{
                .dot{
                    left: 50%;

                    &:last-child{
                        left: 57%;
                    }
                }
            }
        }
    }

    // section details 
    section.section-deals{
        .left-side{
            .content{
                >div{
                    justify-content: center;
                }   
            }
        }
    }
    // section categories 
    section.section-categories{
        .categories{
            .flex{
                flex-wrap: wrap;
            }
        }
    }

    // section popular books 
    section.section-popular-books{
        .container{
            flex-wrap: wrap;
        }

        .right-side{    
            h1{
                margin: 20px 0;
                text-align: center;

                &::after{
                    display: none;
                }
            }

            .content{

                img{
                    max-width: 140px;
                }
                h4{
                    font-size: 1em;
                    max-width: 162px;
                    font-size: .8em;
                }
                > div{
                    padding: 0;
                    padding-bottom: 20px;
                }
                .content-info{
                    text-align: center;
                }

            }

        }
    }

    // section holiday gift 
    section.section-holiday-gift{
        min-height: 400px;
        .info{
            padding-top: 130px;
            p{
                letter-spacing: 1px;
                font-size: .7em;
                &:first-child{
                    font-size: .8em;
                    font-weight: 700;
                    color: $helperColor;
                }
            }
            h1{
                font-weight: 600;
                font-size: 1.7em;
            }
        }
    }

    // section all categories 
    section.section-all-categories{
        .row{
            .right-side{
                .content{
                    justify-content: center;
                    img{
                        width: 150px;
                        height: 210px;
                    }
                    >div{
                        &:last-child{
                            display: flex;
                        }
                    }
                }
            }
        }
        h1{
            margin: 20px;
            text-align: center;
            font-size: 1.8em;
            &::after{
                display: none;
            }
        }


    }
    // section meetup 
    section.section-meetup {
        background-position: 0;
    }

    // section order 
    section.section-order{
        .container{
             > div {
                input{
                    width: 315px;
                }
                button{
                    right: 4.5%;
                }
             }
        }
    }
}

