// section icons
section.section-icons{ 
    padding: 50px;
    border-bottom: 1px solid $black;
    > div {
        > div{
            i{
                color: $white;
                padding: 1.2em 1.27em;
                border-radius: 50%;
                background-color: $helperColor;
                margin-right: 30px;
            }
            > div {
                h5 {
                    font-weight: 600;
                }
                p{
                    margin-top: 5px;
                    font-size: .8em;
                    color: #ccc;
                }
            }
        }
    }
}

// section deals 
section.section-deals{
    margin-top: 70px;
    .left-side {
        max-width: 1010px;

        .flex {
            h2{
                font-weight: 600;
                font-size: 2em;
            }
            .coundown-timer {
                background-color: #fccc4d;
                padding: 7px 27px;
                font-weight: 600;
                font-size: 1.2em;
                border-radius: 20px;
            }
        }
    }
    .right-side{
        max-width: 395px;
    }

    .content {
        max-width: 995px;
        max-width: 930px;
        border: 2px solid $helperColor;
        border-radius: 15px;
        padding: 40px;
        
        > div{
            max-width: 425px;        
        }
        img{
            border-radius: 15px;
            object-fit: cover;
            max-width: 190px;
        }

        .content-info {
            h4{
                font-weight: 500;
            }
            .stars {
                i{
                    color: #fa8c17;
                    font-size: .6em;
                }
                span{
                    font-weight: 500;
                    font-size: .7em;
                }
            }
            p{
                color: #999;
                font-size: .7em;
            }

            .price{
                color: $helperColor;
                font-weight: 600;

                span{
                    font-size: .8em;
                    color: #999;
                    margin-left: 5px;
                }
            }

            .sold {
                margin-top: 35px;
                font-size: .7em;
                color: #999;
                span{
                    color: $black;
                }
            }


            .progress-bar {
                width: 100%;
                background-color: #999;
                border-radius: 25px;
                position: relative;
                height: 7px;
                .progress-value {
                    position: absolute;
                    background-color: $helperColor;
                    border-radius: inherit;
                    height: inherit;
                    width: 25%;
                }
            }

        }
    }

    .right-side {
        margin-top: 20px;
        h2{
            margin-bottom: 20px;
            font-size: 1.6em;
            font-weight: 600;
        }

        > div{
            
            img{
                border-radius: 10px;
            }
            .info{
                p{
                    font-weight: 600;
                }
            }
            .stars{
                i{
                    font-size: .7em;
                    color: #fa8c17;
                }
            }

            &:not(:last-child){
                margin-bottom: 30px;
                padding-bottom: 13px;
                border-bottom: 1px solid #ccc;
            }
        }
    }
}

//section categories
section.section-categories{
    .categories{

        .flex{
            > div{
                border-radius: 15px;
                height: 300px;
                font-weight: 500;
                font-size: 1.2em;
                display: flex;
                align-items: end;
                padding: 0 0 30px 30px;
                overflow: hidden;
                cursor: pointer;

                &:hover{
                    transform: scale(0.9);
                }
            }


        }
        .flex:first-child{
            
            > div:first-child{
                width: 100%;
                max-width: 555px;
                background: url('/img/homeCategories/6.jpeg');
            }

            >div:nth-child(2){
                width: 100%;
                max-width: 355px;
                background: url('/img/homeCategories/5.jpeg');
            }
            
            >div:last-child{
                width: 100%;
                max-width: 435px;
                background-color: blue;
                background: url('/img/homeCategories/4.jpeg');
            }
        }

        .flex:last-child{
            
            > div:first-child{
                width: 100%;
                max-width: 355px;
                background: url('/img/homeCategories/3.jpeg');
            }

            >div:nth-child(2){
                width: 100%;
                max-width: 435px;
                background-color: green;
                background: url('/img/homeCategories/2.jpeg');
            }
            
            >div:last-child{
                width: 100%;
                max-width: 555px;
                background: url('/img/homeCategories/1.jpeg');
            }
        }
    }
}

// section popular books
section.section-popular-books{

    // left side 
    .left-side{
        width: 100%;
        max-width: 380px;

        h1{
            font-size: 1.6em;
            font-weight: 600;
            margin-bottom: 30px;
        }

        .content{
            background-color: #f6f4ff;
            border-radius: 15px;
            padding: 25px;
            img{
                width: 80px;
                border-radius: 10px;
            }

            > div{
                padding: 20px 0;
                &:not(:last-child){
                    border-bottom: 1px solid #ccc;
                }

                &:last-child{
                    padding-bottom: 0;
                }

                &:first-child{
                    padding-top: 0;
                }
            }

            .content-info{
                @include contenInfo();
            }

        }
    }

    // right side 
    .right-side{
        width: 100%;
        max-width: 900px;
        h1{
            font-size: 2em;
            font-weight: 600;
            margin-bottom: 30px;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                width: 60%;
                height: 2px;
                background-color: #ccc;
                left: 30%;
                bottom: 50%;

            }

        }
        .content{
            img{
                max-width: 200px;
                border-radius: 15px;
            }
            @include contenInfo();

            > div{
                padding: 0 8px;
                padding-bottom: 30px;
            }
        }
    }
    
}


//mobile
@media (max-width: 767px) {
    section.section-categories{
        .categories{
            .flex{
                flex-wrap: wrap;
            }
        }
    }

    section.section-popular-books{
        .container{
            flex-wrap: wrap;
        }

        .right-side{    
            h1{
                margin: 20px 0;
                text-align: center;
            }

            .content{

                img{
                    max-width: 140px;
                }
                h4{
                    font-size: 1em;
                    max-width: 162px;
                    font-size: .8em;
                }
                > div{
                    padding: 0;
                    padding-bottom: 20px;
                }
                .content-info{
                    text-align: center;
                }

            }

        }
    }

}