.footer{
    background-color: $footerColor;
    color: $white;
    font-family: "Poppins", sans-serif;
    h1{
        font-size: 1.1em;
        font-weight: 600;
    }
    ul, p{
        line-height: 2;
        font-size: .9em;
    }
    li, p, i, a{
        color: #999999;
        cursor: pointer;
        &:hover{
            color: $white;
        }
    }
    .logo{
        font-weight: 500;
        font-size: 1.4em;
    }
    .contact{
        margin-top: 20px;
        color: $white;
        font-size: 1em;
        font-weight: 500;
    }
    .numbers{
        font-weight: 500;
        font-size: 2em;
        color: $helperColor;  
        margin: 10px 0;      
    }

    .social-media{
        margin-top: 20px;
        color: #999;
        i{
            font-size: 1.3em;
        }
    }
    .container{

        > div{
            &:last-child{
                border-top: 1px solid #ccc;
                padding: 20px 0;
                color: #999;
                span{
                    color: $helperColor;
                }
            }
        }

    }

}

@media screen and (max-width: 1024px){
    .footer{
        .container{
            >div:first-child{
                justify-content: center;
                gap: 45px;
                >div{
                    &:nth-child(3){
                        order: 1;
                    }
                    &:nth-child(5){
                        order: -1;
                    }
                }
            }
        }
    }
}