$backgroundColor : #fff;
$fontColor : #000;
$helperColor : #f65d4e;
$white : #fff;
$black : #000;
$footerColor : #282828;
$bannerColor : #f0f0f0;

.flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.flex-wrap{
    flex-wrap: wrap;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.margin-center{
    margin: 0 auto;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.gap-5{
    gap: 30px;
}

.gap-2{
    gap: 10px;
}

.gap-3{
    gap: 20px;
}

.padding-80{
    padding: 100px 0;
}

.m-5{
    margin: 50px 0;
}

//for home page - content info
@mixin contenInfo{
    h4{
        font-weight: 500;
    }
    .stars {
        i{
            color: #fa8c17;
            font-size: .6em;
        }
        span{
            font-weight: 500;
            font-size: .7em;
        }
    }
    p{
        color: #999;
        font-size: .7em;
    }

    .price{
        color: $helperColor;
        font-weight: 600;
    }
}

// home page - lines 
@mixin createLine($width){
    content: '';
    position: absolute;
    width: $width;
    height: 2px;
    background-color: #ccc;
    left: 30%;
    bottom: 50%;
}

// home page - backgroundCategories
@mixin backgroundCategories($url){
    background: url($url) no-repeat;
    background-size: cover;
}

// home page createButton  
@mixin createButton{
    color: $black;
    background-color: $white;
    padding: 15px 35px;
    border-radius: 30px;
    position: relative;
    z-index: 1;

    &::after{
        content: '';
        position: absolute;
        background-color: $helperColor;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        border-radius: 30px;
        width: 0;
        transition: all .5s ease;
        z-index: -1;
    }
    &:hover{
        &::after{
            width: 100%;
            left: 0;
        }
    }
}


@mixin bannerName{
    padding: 70px 0;
    background-color: $bannerColor;

    h1{
        font-size: 3.5em;
        font-weight: 600;
    }
    p, a, i{
        font-size: .8em;
    }
    i{
        margin: 0 10px;
    }
    a{
        color: #999;

        &:hover{
            color: #000;
        }
    }
    p{
        color: $helperColor;
    }
}