@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Sora:wght@400;500;600;700&display=swap');
@import '../css/reset.css';
@import './variables.scss';
@import './header.scss';
@import './slider.scss';
@import './pages/home.scss';
@import './footer.scss';
@import './pages/shop.scss';

*{
    transition: all .5s ease;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Sora', sans-serif;
    background-color: $backgroundColor;
    color: $fontColor;
}

body.hide{
    overflow: hidden;
}

.section-icons, 
.section-deals, 
.section-categories, 
.section-popular-books, 
.section-holiday-gift,
.section-all-categories,
.section-meetup, 
.section-order{
    margin-bottom: 100px;
}
::selection{
    background-color: $helperColor;
    color: $white;
}


// dark mode 
// body.dark{
//     background-color: $fontColor;
//     color: $backgroundColor;
// }